h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
}
.imagen{
    text-align: center;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Bienvenido{
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
}
.form{
    color: royalblue;
}
.contactos{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
    
}
.conta{
    text-align: center;
}